.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.17;
  display: inline-block;
  min-width: 71.5%;
  padding: 20px 27px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-2;
  border: 4px solid $color-2;
  background: transparent;
  appearance: none;

  @media (max-width: $tablet-width-max) {
    min-width: 65%;
  }

  @media (max-width: $mobile-width-max) {
    min-width: 290px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}
