.promo {
  margin-bottom: 118px;
  padding-top: 121px;

  line-height: 1.5;
  color: $color-2;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 99px;
    padding-top: 102px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 59px;
    padding-top: 70px;
  }
}

.promo__wrapper {
  min-height: 500px;
  display: flex;

  background-image: url("../img/promo-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 520px 0;
  background-size: contain;
  background-clip: content-box;

  @media (min-resolution: $retina-dppx),
  (min-resolution: $retina-dpi) {
    background-image: url("../img/promo-bg-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    max-width: 768px;
    min-height: 290px;

    background-position: 337px 0;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    max-width: 320px;
    min-height: 815px;

    background-image: url("../img/promo-bg-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 293px;
    background-origin: content-box;

    @media (min-resolution: $retina-dppx),
    (min-resolution: $retina-dpi) {
      background-image: url("../img/promo-bg-mobile@2x.jpg");
    }
  }
}

.promo__content {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 78px;
  padding-bottom: 20px;

  background-color: $color-11;

  @media (max-width: $tablet-width-max) {
    width: 43%;
    min-height: 292px;
    padding: 0 6.5%;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    padding: 0 43px;
  }
}

.promo__content a {
  display: block;
  width: 100%;

  padding: 24px 20px;

  font-size: 0.75rem;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $color-2;
  text-transform: uppercase;
  text-align: center;

  border: 4px solid $color-2;
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    padding: 12px 15px;

    font-size: 0.62rem;

    border-width: 2px;
  }
}

.promo__content p {
  width: 300px;

  margin-top: 0;
  margin-bottom: 46px;
  padding: 0;

  font-size: 1.12rem;
  text-align: left;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 28px;

    font-size: 12px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.promo__container {
  display: flex;
  justify-content: space-between;

  margin-top: 83px;
  margin-bottom: 9px;

  h2 {
    margin: 0;
    margin-right: 49px;

    font-family: $font-1;
    font-size: 5.62rem;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-align: left;
  }

  @media (max-width: $tablet-width-max) {
    height: 105px;

    margin-top: 44px;
    margin-bottom: 4px;

    h2 {
      margin-right: auto;
      padding-top: 5px;

      font-size: 3.25rem;
    }
  }
}

.promo__date {
  text-align: left;
  width: 100%;
  margin-top: -3px;

  b {
    display: block;

    margin: 0;
    padding-bottom: 5px;

    font-size: 1.12rem;
    font-weight: 400;
  }

  span {
    display: block;

    font-size: 2.5rem;
    font-weight: 700;
  }

  @media (max-width: $tablet-width-max) {
    width: 58px;
    margin-top: 5px;

    b {
      padding-bottom: 4px;

      font-size: 0.75rem;
    }

    span {
      font-size: 1.5rem;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 4px;
  }
}

.promo__time {
  width: 90%;

  margin-top: 17px;

  span {
    padding-top: 3px;
    line-height: 1;

    border-top: 1px solid $color-2;
  }

  @media (max-width: $tablet-width-max) {
    width: 100%;

    margin-top: 2px;

    span {
      display: inline-block;
      margin-top: -3px;
      padding-top: 3px;
    }
  }
}

.promo__date-inner {
  display: block;

  margin-top: 5px;
  margin-left: auto;

  span {
    margin-top: -6px;

    font-size: 0.87rem;
    font-weight: 400;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 10px;

    span {
      margin-top: 0;
      transform: translate(3px, -7px);

      font-size: 0.62rem;
    }

    span:last-child {
      margin-top: -4px;
    }
  }
}

.promo__date-wrapper {
  width: 65px;
  height: 48px;
  display: flex;
  align-items: center;

  border-top: 1px solid $color-2;

  b {
    display: block;
  }

  @media (max-width: $tablet-width-max) {
    width: 40px;
    height: 33px;

    margin-top: -4px;
  }
}
