.rates__list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  @include reset;
}

.rates__list_active {
  display: flex;
}

.rates__item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 360px;
  padding-top: 56px;
  padding-bottom: 60px;
  text-align: center;
  border: 7px solid transparent;
  background-color: $color-2;

  h3 {
    font-size: 1.62rem;
    font-weight: 700;
    line-height: 1.11;

    margin: 0;
    margin-bottom: 10px;
    color: $color-1;
  }

  span {
    font-size: 1rem;
    line-height: 1.5;

    margin-bottom: 65px;
    color: $color-6;
  }

  a {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.16;
    display: block;

    width: 207px;
    margin: 0 auto;
    padding: 25px 15px;
    cursor: pointer;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-1;
    border: 2px solid $color-1;
  }

  @media (max-width: $tablet-width-max) {
    width: 445px;
    margin: 0 auto;
    margin-bottom: 40px;

    a {
      width: 48%;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 290px;
    margin-bottom: 35px;
    padding-top: 45px;
    padding-bottom: 47px;

    &:hover {
      a {
        width: 76%;
        padding: 26px 15px;
      }
    }

    h3 {
      font-size: 1.37rem;
      line-height: 1.09;
    }

    span {
      margin-bottom: 53px;
    }

    a {
      width: 74%;
      padding: 24px 15px;
    }
  }
}

.rates__item:hover {
  border-image: linear-gradient(to right bottom, $color-9 5%, $color-10 95%);
  border-image-slice: 1;

  a {
    padding: 27px 15px;
    color: $color-2;
    border: none;
    background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  }
}

.rates__price {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.5;

  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;
  color: $color-7;

  b {
    font-size: 6.25rem;
    line-height: 1.5;
    position: absolute;
    z-index: -1;
    top: 132px;
    right: 70px;

    display: block;
    color: $color-8;
  }

  @media (max-width: $tablet-width-max) {
    b {
      right: 113px;
    }
  }

  @media (max-width: $mobile-width-max) {
    font-size: 3rem;

    margin-bottom: 30px;

    b {
      font-size: 5rem;

      top: 30%;
      right: 55px;
    }

    svg {
      width: 24px;
      height: 33px;
    }
  }
}
