.season-tickets {
  position: relative;
  overflow-x: clip;
  padding-bottom: 120px;
  background-color: $color-5;
  transition: initial;

  &::after {
    position: absolute;
    right: calc(50vw - 865px);
    bottom: -150px;
    display: block;
    width: 470px;
    height: 494px;

    content: "";
    background-image: url("../img/season-tickets-bg@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx),
      (min-resolution: $retina-dpi) {
      background-image: url("../img/season-tickets-bg@2x.png");
    }
  }

  @media (max-width: $tablet-width-max) {
    padding-bottom: 57px;

    &::after {
      right: calc(50vw - 458px);
      bottom: -122px;

      width: 423px;
      height: 444px;
    }
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 34px;

    &::after {
      display: none;
    }
  }
}

.season-tickets__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  text-align: center;

  h2 {
    font-family: $font-1;
    font-size: 3.06rem;
    font-weight: 700;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-1;
  }

  @media (max-width: $tablet-width-max) {
    width: 88%;
    max-width: 800px;
    padding-top: 99px;

    h2 {
      font-size: 2.62rem;

      margin-bottom: 10px;
    }
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    max-width: 420px;
    padding-top: 68px;

    h2 {
      font-size: 2rem;
      margin-bottom: 14px;
    }
  }
}

.season-tickets__tabs-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;

  @media (max-width: $tablet-width-max) {
    width: 59%;
    max-width: 332px;
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-width-max) {
    justify-content: space-between;

    width: 100%;
    max-width: 100%;
    margin-bottom: 33px;
  }
}

.season-tickets__rates-wrapper {
  display: flex;

  width: 1160px;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $tablet-width-max) {
    width: 80%;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    max-width: 500px;
  }
}
