.socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include reset;
}

.socials li {
  margin-bottom: 15px;
}

.socials a {
  padding: 8px;
  font-size: 0.75rem;
  line-height: 1.17;
  text-align: center;
}
