$color-1: #102654;
$color-2: #ffffff;
$color-3: #b80027;
$color-4: #003d85;

$font-1: "Bebas Neue", "Arial", sans-serif;

$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1199px;
$desktop-width: 1200px;
$desktop-max-content: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
